<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="/css/style.css" rel="stylesheet" />
  </head>
  <body class="d-flex vh-100 justify-content-center align-items-center">
    <section id="hero" class="min-vh-100 d-flex align-items-center text-center">
      <div class="container">
        <div class="col-12">
          <h1 class="text-uppercase fw-semibold display-1">Home</h1>
          <h5 class="text-uppercase mt-3 mb-4">Gun Florist</h5>
          <div>
            <a href="/cart" class="btn btn-custom ms-2 mb-2 rounded-pill"
              >Go to Cart</a
            >
            <a href="/history" class="btn btn-custom ms-2 mb-2 rounded-pill"
              >Go to History</a
            >
            <a href="/profile" class="btn btn-custom ms-2 mb-2 rounded-pill">
              Go to Profile
            </a>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
