/* Template */
:root {
  --c-primary: #f5f5dc;
  --c-secondary: #556b2f;
  --c-dark: #212529;
  --c-brand-light: #868d95;
  --c-brand-rgb: 78, 87, 212;
  --c-body: #8e8d8a;
  --font-heading: "Playfair Display", serif;
  --font-base: "Lato", sans-serif;
  --box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.08);
  --transition: all 0.5s ease;
  --c-accent-pink: #ffc0cb;
  --c-accent-lavender: #e6e6fa;
  --c-accent-peach: #ffdab9;
}

/* RESET & HELPERS */
body {
  font-family: var(--font-base);
  line-height: 1.7;
  background: var(--c-primary);
}

.form-container {
  width: 100%;
  max-width: 500px;
  padding: 30px;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.form-control {
  height: 50px;
  font-size: 16px;
  border-radius: 10px;
}

/* button */
.btn {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 0;
  padding: 10px 24px;
}

.btn-custom {
  height: 50px;
  background-color: var(--c-secondary);
  border-color: var(--c-secondary);
  font-size: 18px;
  border-radius: 50px;
}

.btn-custom:hover {
  background-color: var(--c-primary);
  border-color: var(--c-secondary);
  color: var(--c-dark);
}

/* login */
.form-container.login {
  max-width: 400px;
}

.form-container h3 {
  font-family: var(--font-heading);
}

.form-container a {
  color: var(--c-accent-peach);
  text-decoration: none;
}

.form-container a:hover {
  text-decoration: underline;
}
